@model IEnumerable<Films.Models.Film>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Сайт кино</h1>
    <p class="lead">Подборка лучших фильмов специально для вас!</p>

</div>

<div class="row">
    @foreach (var item in Model)
        {
        <div class="col-md-4">
            @if(item.Cover != null)
            {
                <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.Cover)" class="image"/>
            }
            <h2>
                @Html.DisplayFor(modelItem => item.Title)
            </h2>
            <p>@Html.ActionLink("Детали", "Details", new { id = item.Id }, new { @class="btn btn-default"})</p>
        </div>
    }
    

</div>